.md-header__topic{
    margin: -0.3rem;
}

[data-md-toggle="search"]:not(:checked) ~ .md-header .md-search__form::after {
    position: absolute;
    top: .3rem;
    right: .3rem;
    display: block;
    padding: .3rem .4rem;
    color: var(--md-primary-bg-color);
    font-size: .5rem;
    border: .05rem solid var(--md-primary-bg-color--light);
    border-radius: .1rem;
    content: "S";
  }

.container {
    margin-top: 1rem;
}
.container .logo {
    text-align: center;
}
.description {
    font-size: 1.6rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.grid-child {
    padding: 2rem;
}

.grid-child-sized {
    max-width: 45rem;
}

@media only screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
