{% extends "main.html" %}
{% block tabs %}
{{ super() }}
    <section class="container">
        <div class="md-grid md-typeset">
            <header class="logo">
                <img class="home__logo" src="assets/images/logo.png" alt="Logo image for DisGo" draggable="false">
                <p class="description">
                    A modular Golang Discord API Wrapper
                </p>
                <a href="disgo/" title="Using DisGo" class="md-button md-button--primary">Get Started</a>
                <p>
            </header>
            <div>
                {{ page.content }}
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}